#instructions{
    float: right;
}
h2{
    width: 100%;

}
.big_image{
    width: 100%;
}
.instruction_image{
    width: 100%;
    display: block;
}
video{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}